.content {
    width: (100% - 250px);
    padding: 20px;
    margin: 60px 25px 0 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    overflow: hidden;
}

.MusicContainer {
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    align-items: center;
    justify-content: center;
    grid-gap: 25px;
}

.box-music {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    box-shadow: 2px 4px 2px rgb(60 60 60);
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.img-music img {
    width: 100%;
    object-fit: cover;
    max-width: 240px;
}