
.play{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    background: bisque;
    text-align: center;
    padding: 2px;
}
.title-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.empty{
    width: 100%;
    text-align: center;
}